{% extends "layout.html" %}
{% block content %}
    {% for portfolio in portfolios %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + portfolio.stockholder.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ portfolio.stock_symbol.username }}</a>
              <small class="text-muted">{{ portfolio.date.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('portfolio', portfolio_id=portfolio.id) }}">{{ portfolio.stock_symbol }}</a></h2>
            <p class="article-content">{{ portfolio.quantity }}</p>
            <p class="article-content">{{ portfolio.price }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}